{% extends 'layouts/blank.html.twig' %}
{% block title %}Error Page{% endblock %}

{% block content %}
    <div class="account-pages my-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <h1 class="display-2 fw-medium">{{ status_code }}</h1>
                        <h4 class="text-uppercase">{{ status_text }}</h4>
                        <div class="mt-5 text-center">
                            <a class="btn btn-primary waves-effect waves-light" href="/">Go Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}